# Python Bytecode files
*.py[cod]
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv/
.python/

# IDE or Editor directories
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# .env file for environment variables
.env

# Streamlit configuration
.cache/
